<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet"  href="/public/cardsStyles.css">
    <script src="/public/cardScript.js" defer></script>
    <title>Картки</title>
  </head>
    <body>
            <a href="/Decks" id="backButton">Назад</a>
            <h1>Колода <%=deckName%></h1>
            <table id="decksTable">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Питання</th>
                  <th>Відповідь</th>
                  <th>Операції</th>
                </tr>
              </thead>
              <tbody>
                <% let i = 1; %>
                <% cardsArr.forEach(function(card) { %>
                  <tr> 
                    <td><%=i%></td>
                    <td><%=card.question%></td>
                    <td><%=card.answer%></td>
                    <td>
                      <div class="changeButtonsConteiner">
                        <button style="width: 90px;" dataDeckId="<%= deckId%>" dataCardId= "<%= card._id%>" class="deleteCard">Видалити</button> 
                      </div>    
                    </td>
                  </tr>
                  <%i++%>
                <% }) %>
              </tbody>
            </table>

            <div class="input_card">
              <form action="/Cards/<%=deck._id%>" method="post"> 
                    <input required id = "inputQuestionCard_id" type="text" name = "question" placeholder="Введіть питання">
                    <input required id = "inputAnswerCard_id" type="text" name = "answer" placeholder="Введіть відповідь">
                <button id="addCard">Додати картку</button>
              </form>
            </div> 
            
    </body>     
</html>


