<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet"  href="/public/decksStyles.css">
    <script src="/public/deckScript.js" defer></script>
    <title>Cards</title>
  </head>
    <body>
            <h1 style="color: white;">Мої Колоди</h1>
            <button id="logoutButton">Вийти з аккаунту</button>
            <table id="decksTable">
              <thead>
                <tr>
                  <th style="width: 22px;">№</th>
                  <th>Назва</th>
                  <th style="width: 22px;">Кількість карток</th>
                  <th>Операції</th>
                </tr>
              </thead>
              <tbody>
                <% let i = 1; %>
                <% decksArr.forEach(function(deck) { %>
                  <tr> 
                    <td style="width: 22px;"><%=i%></td>
                    <td>
                      <span class="deckName"><a href="/cards/<%= deck._id %>" style="color: white;"><%= deck.name %></a></span>
                      
                      <input type="text" class="deckInput" value="<%= deck.name %>" style="display:none; text-align: center;">
                    </td>
                    <td ><%= (deck.cards.length !== undefined ? deck.cards.length : 0) %></td>
                    <td style="padding:1px">
                      <div class="changeButtonsConteiner">
                        <button style="width: 90px; display:none" dataDeckId="<%= deck._id %>" class="saveDeck">Зберегти</button>
                        <button style="width: 90px;" dataDeckId="<%= deck._id%>" class="editDeck">Змінити</button> 
                        <button style="width: 90px;" dataDeckId= "<%= deck._id%>" class="deleteDeck">Видалити</button> 
                      </div>              
                    </td>
                  </tr>
                  <%i++%>
                <% }) %>
              </tbody>
            </table>

            <div class="input_deck">
              <form action="/decks" method="post"> 
                <input required id = "inputDeck_id" type="text" name = "deckname" placeholder="Введіть назву колоди" autocomplete="off">
                <button id="addDeck">Додати Колоду</button>
              </form>
            </div> 
    </body>     
</html>
